html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 125%;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

h2 {
    font-size: 2.3rem;
    margin: 0.5rem;
}

p {
    margin: 0.5rem;
}

.job {
    font-family: 'PT Sans', sans-serif;
    color: #9e0020;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9e0020;
    padding: 15px;
    width: 250px;
    margin: 0 25px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    transition: 0.3s ease-in-out;
    
}

.nav_links:hover {
    background: #3f3f3f;
    transform: scale(1.05);
}

.nav_links:focus {
    background: #3f3f3f;
    transform: scale(1.05);
}

.social_logos {
    margin: 0 25px;
}

a {
    color: white;
    text-decoration: none;
}

i {
    color: #9e0020;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}

i:hover {
    color: #3f3f3f;
    transform: scale(1.15);
}

i:focus {
    color: #3f3f3f;
    transform: scale(1.15);
}

@media (min-width: 320px) and (max-width: 480px) {
    .welcome_text {
        width: 85%;
        height: auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    .nav_list {
        flex-direction: column;
        padding: 0;
        gap: 15px;
    }
    .social_list {
        padding: 0;
    }
}

/* Styles for screens between 481px and 767px (smartphones in landscape mode and smaller tablets) */
@media (min-width: 481px) and (max-width: 767px) {
    .welcome_text {
        width: 80%;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.35rem;
    }
    .nav_list {
        flex-direction: column;
        padding: 0;
        gap: 15px;
    }
    .social_list {
        padding: 0;
    }
  /* Add your styles here */
}

/* Styles for screens between 768px and 1023px (larger tablets and small laptops) */
@media (min-width: 768px) and (max-width: 1023px) {
    .welcome_text {
        width: 75%;
        height: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    .nav_list {
        padding: 0;
        gap: 15px;
    }
    .social_list {
        padding: 0;
    }
  /* Add your styles here */
}

/* Styles for screens between 1024px and 1279px (larger laptops and desktops) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .welcome_text {
        width: 70%;
    }
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2rem;
    }
    .website_links {
        margin-top: 20px;
    }
    .nav_list {
        padding: 0;
        gap: 15px;
    }
    .social_list {
        padding: 0;
    }
  /* Add your styles here */
}

/* Styles for screens larger than 1280px (larger desktop monitors) */
@media (min-width: 1280px) {
  /* Add your styles here */
}
